/* Kode * di bawah ini untuk mereset tampilan setiap web browser supaya seragam */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   /* scroll-behavior: smooth agar scroll ketika klik pada navigasi menjadi halus */
   scroll-behavior: smooth;
}

/* 
Kode di bawah ini untuk mengatur nav sampai footer agar memiliki tampilan flexibel
selengkapnya akan di bahas di hari ke 3
*/

nav,
header,
section,
footer {
   /* 
      display: flex memiliki pengaturan yang dapat mengatur agar elemen
      di dalamnya memiliki ukuran yang fleksibel
      digunakan saat ada elemen yang isinya lebih dari satu kolom
   */
   display: flex;
   /* 
      align-items: center mengatur elemen di dalamnya rata tengah vertikal
   */
   align-items: center;

   /* 
      justify-content: center mengatur elemen di dalamnya rata tengah horizontal
   */
   justify-content: center;

   /* 
      flex-wrap: wrap mengatur agar jika lebar elemen berlebih, maka elemen
      akan otomatis diletakan di baris baru (tidak dipaksakan di satu baris)
   */
   flex-wrap: wrap;
}

/* 
Kode @font-face untuk menginstall font ke dalam Website 
src adalah untuk lokasi fontnya, font dapat di cari di website https://fonts.google.com/
dengan memberi nama family, maka kita mendaftarkan font tersebut ke dalam website
*/

@font-face {
   src: url(../fonts/poppins.woff2);
   font-family: 'Poppins';
}

@font-face {
   font-family: 'Abril Fatface';
   font-style: normal;
   font-weight: 400;
   src: url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
}

@font-face {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 400;
   src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

body {

   /* 
   mendaftarkan semua teks pada body menjadi family Poppins 
   kenapa pada body? karena elemen body membungkus semua elemen dari nav section sampai footer
   */

   @font-face {
      src: url(../fonts/poppins.woff2);
      font-family: 'Poppins';
   }

   font-family: 'Poppins';
   color: #503431;

   p {
      font-family: 'Montserrat', sans-serif;
   }

}


a {
   /* menghilangkan garis bawah pada link */
   text-decoration: none;

   /* 
   color: adalah untuk mengganti warna tulisan.
   color:unset digunakan pada a untuk menghilangkan warna bawaan pada link (biasanya warna biru) 
   */
   color: unset;
}

h1 {
   font-size: 48px;

   @font-face {
      font-family: 'Abril Fatface';
      font-style: bold;
      font-weight: 400;
      src: url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
   }

   font-family: 'Abril Fatface';
}

h2 {
   font-size: 34px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: italic;
}

h3 {
   font-size: 1.2rem;
}

h1,
h2,
h3 {
   font-weight: bold;
}

img {
   /* 
      kode max-width artinya lebar maksimal
      mengatur agar semua elemen img memiliki lebar maksimal 100% agar
      besar gambar tidak melebihi layar ataupun elemen pembungkus
   */
   max-width: 100%;
}

/* Navigasi */

nav {
   background-color: #4b6c57;
   box-shadow: 0 3px 7px -2px #503431;
   width: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
   position: fixed;
   z-index: 500;
}

img.logo {
   height: 50px;
   margin-left: 20px;
}

div.navigasi {
   margin-left: auto;
   margin-right: 15px;
}

nav a {
   color: #fff;
   padding-left: 8px;
   padding-right: 8px;
   transition: all 0.3s ease;
}

nav a:hover {
   color: #e77431;
}

a.shop {
   margin-right: 100px;
}

a.chat {
   margin-right: 30px;
   background-color: #55a393;
   color: #fff;
   padding-top: 5px;
   padding-right: 15px;
   padding-bottom: 5px;
   padding-left: 15px;
   border-radius: 10px;
}

a.chat:hover {
   color: #503431;
   transform: scale(105%)
}

/* 
   PERHATIKAN bahwa dalam mengatur elemen, nama elemen langsung ditulis
   sedangkan untuk mengatur class, dibutuhkan tanda titik (.) terlebih dulu
   img {} berarti seluruh elemen dengan tag img (<img src="....">), 
   sedangkan .img artinya hanya elemen dengan class img (<img class="img" src="...">) 
*/


/* HEADER */


header,
section {
   padding-top: 80px;
   padding-bottom: 80px;
}


header div.kiri {
   width: 30%;
   padding: 50px;
}

header div.kanan {
   width: 70%;
   padding: 50px;
}

header div.kanan img {
   border-radius: 25px 25px 25px 25px;
}

header h1 {
   margin-bottom: 20px;
}

header p {
   font-size: 18px;
   margin-bottom: 20px;
   text-align: justify;
}

div.olshop img {
   width: 50px;
   aspect-ratio: 1;
   margin-right: 10px;
   transition: all 0.3s ease;
}

div.olshop img:hover {
   transform: scale(0.8);
}

/* Best Seller */

section.best-seller {
   position: relative;

   /* background-color mengatur warna latar belakang elemen */
   background-color: #e77431;
   box-shadow: inset 0px 0px 23px -6px #503431;

   /* text-align mengatur rata tulisan, bisa bernilai: left, right, center, justify */
   color: #2b1c1a;
   text-align: center;
}

/* 
terkait position, after, dan before memerlukan pemahaman mendalam
terkait layout pada CSS untuk dapat memahami secara penuh 
*/



section.best-seller h2 {
   margin-bottom: 20px;
   width: 100%;
}

/* 
Penulisan section.best-seller > p berarti mengatur elemen p yang langsung
di bungkus oleh elemen <section class="best-seller">
aturan ini tidak berlaku untuk elemen <p> yang ada di dalam <div class="produk">
*/

section.best-seller>p {
   font-size: 18px;
   margin-bottom: 40px;
   width: 100%;
}

div.produk {
   /* 
      Penulisan padding dan margin seperti padding:20px ini penulisan singkat 
      yang berarti top, right, bottom, left nilainya sama, yaitu 20px 
   */
   padding: 20px;
   width: 25%;

}

div.produk img {
   /* transition membuat animasi transisi dari perubahan style, 0.3s berarti 0.3 detik */
   transition: all 0.3s ease;

   /* border-radius  Membuat sudut membulat */
   border-radius: 15px;

   /* box-shadow membuat efek bayangan */
   box-shadow: 0 3px 10px -2px #503431;
}

/*

kode div.produk img:hover akan dijalankan saat mouse ada di atas elemen <img> yang ada
di dalam <div class="produk"> 
karena ada efek transition pada div.produk img 
maka akan menghasilkan efek animasi yang smooth

*/
div.produk img:hover {

   /* membuat transformasi, bisa berupa scale(1.05), rotate(180deg), translateY(-50px), dsb */
   transform: scale(0.9);
   opacity: 0.5;
   border-radius: 50%;
}

div.produk p {
   margin-top: 15px;
   font-weight: bold;
}

/* About US */

section.about-us {
   /* max-width: 80%; mengatur lebar maksimal elemen tidak boleh melebihi 80% layar */
   max-width: 80%;

   /* margin-left dan margin-right auto akan membuat posisi elemen berada di tengah */
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

section.about-us h2 {
   margin-bottom: 30px;
   width: 100%;
}

section.about-us img {
   /* 
      Penulisan width: 800px dan max-width: 100% mengatur agar
      elemen memiliki lebar 800px namun tidak boleh melebihi 100% ukuran layar
   */
   width: 800px;
   max-width: 100%;
   margin: auto;
   border-radius: 25px 25px 25px 25px;
}

/*
section.about-us p:nth-child(2) berarti mengatur elemen ke 2 dengan jenis <p>
yang ada di dalam <section class="about-us">
*/

section.about-us p:nth-child(2) {
   margin-bottom: 40px;
}

section.about-us p:nth-child(4) {
   margin-top: 40px;
}


/* OUR TEAM */

section.our-team {
   background-color: #55a393;
   color: #2b1c1a;
   box-shadow: inset 0px 0px 23px -6px #503431;
   text-align: center;
}

section.our-team h2 {
   margin-bottom: 20px;
   width: 100%;
}

section.our-team>p {
   margin-bottom: 30px;
   font-size: 18px;
   width: 800px;
   max-width: 90%;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}

div.team {
   width: 25%;
   padding: 20px;
}

div.team img {
   width: 100%;
   aspect-ratio: 1/1;
   object-fit: cover;
   box-shadow: 0 3px 10px -2px#503431;
   border-radius: 50px 0px 50px 0px;
   margin-bottom: 10px;
   transition: all 0.3s ease;
}

div.team img:hover {
   transform: scale(0.9);
   border-radius: 50%;
}



/* REVIEW */

section.review {
   background-image: url(../images/background/bg-review.svg);
   /* 
      background-size: contain;
      membuat gambar latar belakang tidak terpotong
   */
   background-size: contain;

   /* 
      background-repeat: no-repeat;
      membuat gambar latar belakang tidak diulang (duplikat)
   */
   background-repeat: no-repeat;
   padding-left: 40px;
   padding-right: 40px;
   justify-content: space-around;
   /* align-items: stretch; membuat tinggi elemen di dalam .review .baris seragam */
   text-align: center;
}

section.review h2 {
   margin-bottom: 20px;
   width: 100%;
}

section.review>p {
   margin-bottom: 40px;
   font-size: 18px;
   width: 100%;
}

div.testimoni {
   width: 30%;
   display: flex;
   flex-wrap: wrap;
   padding: 35px 50px;
   border-radius: 25px 25px 25px 25px;
   box-shadow: 0px 0px 12px -10px #000;
   background-color: #fff;
   transition: 0.3s ease;
}

div.testimoni img {
   width: 60px;
   height: 60px;
   margin-right: 15px;
   object-fit: cover;
}

div.testimoni:hover {
   transform: scale(110%);
}

div.profile {
   text-align: left;
   display: block;
   margin-bottom: 30px;
   width: calc(100% - 75px);
}

div.profile p {
   width: 100%;
   text-align: left;
}

div.testimoni>p {
   width: 100%;
   text-align: left;
   filter: blur(3px);
   transition: 0.3s ease;
}

div.testimoni>p:hover {
   filter: blur(0px);
}


/* CONTACT US */
section.contact-us {
   margin-bottom: 20px;
}

section.contact-us iframe {
   width: 100%;
   height: 300px;
   border: 0;
}

div.kontak {
   width: 30%;
   /* color mengatur warna tulisan */
   color: #55a393;
   text-align: center;
   margin-top: 50px;
   transition: 0.3s ease;
}

div.kontak>p:hover {
   color: #b5302b;
}


/* FOOTER */

footer {
   background-color: #4b6c57;
   padding-top: 15px;
   padding-bottom: 15px;
   color: #fff;
   padding-right: 40px;
   padding-left: 40px;
}

footer div.navigasi {
   margin-left: 20px;
   margin-right: auto;
}

footer div.navigasi a {
   padding: 8px;
   transition: 0.3s ease;
}

footer div.navigasi a:hover {
   color: #e77431;
}


/* UNTUK kode RESPONSIF hari ke 3 tulis DI BAWAH sini */

@media (max-width:600px) {
   .navigasi {
      display: none
   }

   a.shop {
      margin-right: 10px;
      margin-left: auto;
   }

   header div.kiri,
   header div.kanan {
      width: 100%;
      padding: 20px;
      text-align: center;
   }

   header div.kiri>p {
      text-align: center;
   }

   div.produk,
   div.kontak,
   div.team {
      width: 50%;
   }

   div.testimoni {
      width: 100%;
      margin-bottom: 20px;
   }

   div.kontak {
      width: 100%;
   }
}

/* Kode CSS Selesai di sini */